/* Chatbot.module.css */

.container {
  background-color: #0c0c0c;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.box-questions {
  margin-top: 3rem;
  background-color: #fff;
  color: #0c0c0c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 800px;
  width: 600px;
  border-radius: 10px;
  text-align: center;
}

.header {
  background-color: #5959ff;
  color: #fff;
  border-radius: 10px 10px 0 0;
  font-size: 1.4rem;
}

.footer {
  background-color: #5959ff;
  border-radius: 0 0 10px 10px;
  padding: 1rem;
}

.inputField {
  width: 50%;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
}

/* Adicione uma classe para o botão */
.btnSubmit {
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}

.btnSubmit:hover {
  cursor: pointer;
  transition: 0.4s;
  background-color: #949494;
}

#history {
  padding: 1rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}

.box-my-message {
  display: flex;
  justify-content: flex-end;
}

.box-response-message {
  display: flex;
  justify-content: flex-start;
}

.my-message,
.response-message {
  padding: 1rem;
  border-radius: 10px;
  color: white;
  margin: 0;
}

.my-message {
  text-align: right;
  background-color: #949494;
}

.response-message {
  text-align: left;
  background-color: #cccccc;
}
