

.areaDestaque{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    font-family: 'Roboto', sans-serif;
}

.fatos{
    display: flex;
    align-items: center;
    margin-bottom: 70px;
    width: 60%;
    justify-content: space-around;
}

.fatos h2{
    text-transform: uppercase;
    color: var(--principal);
    font-weight: 400;
    font-size: 2.2rem;
    letter-spacing: -0.08em;
    text-decoration-line: underline;
text-align: center;
color: #FF8D00;
}

.sirene{
    color: var(--principal);
    font-size: 4rem;
}



.gridContainer{
    width: 90%;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr 1fr  1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr ; 
    gap: 20px 20px; 
    grid-template-areas: 
      "grid1 grid1 grid2 grid2 grid4 grid4"
      "grid1 grid1 grid3 grid3 grid5 grid5"
      "grid7 grid7 grid7 grid7 grid5 grid5"
      "grid8 grid8 grid8 grid6 grid6 grid6"; 
  }


.gridContainer *{
    border-radius: 25px ;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    font-family: "Roboto";
    font-size: 1.1rem;
    padding: 10px;
    display: flex;
    align-items: center;
    padding: 20px;
    line-height: 25px;
}

.grid1{grid-area: grid1; background-color: #FBA725 ;}
.grid2{grid-area: grid2; background-color: #FCEACB;}
.grid3{grid-area: grid3; background-color: #ECAC5C;}
.grid4{grid-area: grid4; background-color: #FFC45B;}
.grid5{grid-area: grid5; background-color: #f3d19e;}
.grid6{grid-area: grid6; background-color: #FEE9A8;}
.grid7{grid-area: grid7; background-color: #eeb259;}
.grid8{grid-area: grid8; background-color: #ffc477;}


@media screen and (max-width:1200px) {
    .gridContainer{
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:660px) {
 


.fatos{

    width: 80%;

}

.fatos h2{
    font-size: 1.3rem;
}

.sirene{
    color: var(--principal);
    font-size: 2rem;
}

.gridContainer *{
    font-size: .8rem;
}

}