.home{
    width: 100%;
    height: 100vh;
    background-image: url(/img/background.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
}

.back{
    width: 100%;
    height: 100vh;
    position:absolute;
    background: linear-gradient(180deg, rgba(255, 153, 0, 0.81) 0%, rgba(255, 255, 255, 0.81) 100%);
}

.textos{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 60px 120px ;
}

.textoPrincipal{
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 48px;
line-height: 56px;
text-align: center;
letter-spacing: -2px;
font-variant: all-small-caps;
color: #D06F00;
}



.chamado {
    position: relative;
    display: flex;
    align-items: center; 
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    gap: 0.5rem;
    cursor: pointer;
  }
  
.chamado p {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    position: relative;
    font-size: 20px;
    color: var(--sec)
  }
  
.chamado::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -7px;
    background: var(--principal);
    height: 2px;
    transition: 0.3s ease-out;
  }
  
 .chamado p::before {
    position: absolute;
    width: 0%;
    inset: 0;
    overflow: hidden;
   
  }
  
.chamado:hover::after {
    width: 100%;
  }

.chamado:hover p::before {
    width: 100%;
  }

  .chamado p:hover{
    color: var(--principal);
    transition: 0.3s ease-out;
  }
  

.chamado .arrow{
    color: var(--sec);
    transition: 0.2s;
    position: relative;
    transition-delay: 0.2s;
    font-size: 32px;
  }
  
  .chamado:hover .arrow {
    transform: translateX(4px);
    color: var(--principal)
  }



  .dicaCadastro{
    width: 100%;
    height: 55vh;
    background-image: url(/img/backCadastro.png);
    background-size: cover;
    position: relative;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
  


.backCadastro{
  height: 100%;
  width: 100%;
  position:absolute;
  background: linear-gradient(90deg, #FF9900 0%, #FFCB8A 32.29%, rgba(231, 194, 138, 0.364583) 75.52%, rgba(255, 206, 132, 0.28) 100%);
}


